.hidden {
  display: hidden;
}

.grid-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.body-1 {
  grid-area: 1/1/2/5;
}

.body-2 {
  grid-area: 1/5/2/6;
}

.body-3 {
  grid-area: 2/1/6/2;
}

.body-4 {
  grid-area: 2/2/6/6;
}